<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eachday.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7EF49C8A3F44E0B39303E5952687B679C512A415</string>
				<key>dateExpires</key>
				<string>15/09/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R38A358N7Z.com.scrupulouslabs.eachday</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>R38A358N7Z</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>eachday.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b014f75-f536-4389-a1cc-02aca00d85fd</string>
				<key>dateExpires</key>
				<string>15/09/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.scrupulouslabs.eachday</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R38A358N7Z</string>
				<key>name</key>
				<string>Scrupulous Labs Pte. Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
